.button_section {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}
.Button {
  border: none;
  background-color: rgb(251, 71, 71);
  color: #fff;
  padding: 10px 13px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
}
.QnaEdit {
  width: 90vw;
  max-width: 500px;
}
