.QuestSpeed {
  text-align: center;
  width: 90vw;
  max-width: 500px;
}
.QuestSpeed .speed-quiz-title {
  background-image: linear-gradient(to right, #00b5cc, #00b5cc, #02cae5);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: bold;
  padding-top: 40px;
}
.QuestSpeed .quiz-container input:focus {
  border: 1px solid #f16d9a;
  box-sizing: border-box;
  border-radius: 10px;
  outline: 3px solid #f8e4ff;
  border-radius: 10px;
}
.QuestSpeed .quiz-container input {
  width: 30%;
  padding: 4px;
  font-size: 13px;
  margin: 2px 5px;
  height: 25px;
  font-size: 20px;
  font-weight: 500;
  border: 0;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}
.QuestSpeed .quiz-container .quiz {
  padding: 15px 12px;
  list-style: none;
  padding: 0;
  height: 50vh;
  overflow-y: auto;
}

.QuestSpeed .quiz-container .quiz::-webkit-scrollbar {
  width: 8px;
  background-color: #c6c6c6;
  border-radius: 10px;
}
.QuestSpeed .quiz-container .quiz::-webkit-scrollbar-thumb {
  background-color: #00b5cc;
  border-radius: 10px;
}
.QuestSpeed .time-info {
  display: flex;
  flex-direction: raw;
  justify-content: center;
  margin: 20px;
}
.QuestSpeed .time-info .time {
  background-image: linear-gradient(to right, #000000, #000000);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 5px;
}
.QuestSpeed .quiz-container .quiz {
  font-size: 18px;
  font-weight: 500;
  white-space: break-spaces;
}
.QuestSpeed .quiz-container .quiz .input_text {
  font-size: 15px;
  font-weight: 500;
}

.QuestSpeed .time-info .info {
  background-image: linear-gradient(to right, #f16d9a, #f16d9a);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: bold;
}
.QuestSpeed button {
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
}
.QuestSpeed .buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.QuestSpeed .buttons .submit.btn {
  color: #fff;
  border: 0;
  font-size: 1.2rem;
  font-weight: 600;
  width: 160px;
  height: 60px;
  padding: 0em 1.25em;
  border-radius: 1.5em;
  z-index: 999;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: #00b5cc;
  box-shadow: 0 4px 15px 0 #99c9d0;
  &:hover {
    background-color: #019cb1;
  }
}

.QuestSpeed .buttons .quit.btn {
  color: #fff;
  border: 0;
  font-size: 1.2rem;
  font-weight: 600;
  width: 160px;
  height: 60px;
  padding: 0.5em 1.25em;
  border-radius: 1.5em;
  z-index: 999;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: #9a9c9d;
  box-shadow: 0 4px 15px 0 #828282;
  &:hover {
    background-color: #828282;
  }
}
