.Qna {
  height: 100%;
  width: 90vw;
  max-width: 500px;
  font-family: "Roboto", sans-serif;
}

.Qna .Qna_wrapper {
  padding: 20px;
  overflow: auto;
  max-height: calc(100vh - 120px);
}
.Qna .Qna_wrapper::-webkit-scrollbar {
  width: 12px; /* Chrome, Safari, Opera */
}
