/* Error */

.error-message {
  background-color: #ffebee;
  border: 1px solid #ef9a9a;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  color: #c62828;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-message p {
  word-break: keep-all;
  width: 80%;
  margin: 0;
  padding: 10px;
}

.error-message img {
  width: 10%;
}

.error-message button {
  width: 10%;
  background: none;
  border: none;
  color: #c62828;
  cursor: pointer;
  font-weight: bold;
}
