@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

/* History */
.History {
  font-family: "Noto Sans KR", sans-serif;
  width: 90vw;
  max-width: 500px;
}

.History .history_title {
  padding-top: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-block-start: 0;
}

.History .historySeason_main {
  margin-top: 20px;
  height: 62vh;
  display: grid;
  row-gap: 10%;
  overflow: auto;
}

.historySeason_main::-webkit-scrollbar {
  width: 10px;
  background-color: #ececec;
  border-radius: 10px;
}
.historySeason_main::-webkit-scrollbar-thumb {
  background-color: #34a853;
  border-radius: 10px;
}

.History .historySeason {
  height: fit-content;
  cursor: pointer;
  display: flex;
  background-color: #9ad4a9;
  border-radius: 30px;
  margin-right: 10px;
  img {
    margin: 20px;
    width: 35vw;
    max-width: 200px;
    height: 14vh;
    border-radius: 10px;
  }
}

.History .season_info {
  margin-top: 20px;
  p {
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    font-family: "Nanum Gothic", sans-serif;
  }
}

.History .historySeason .season_title {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
}
